:root {
    font-family: Calibri, Gill Sans, Gill Sans MT, Liberation Sans, Carlito, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

    --ces-dogu-starting-color: var(--ces-color-brand, #00629E);
    --ces-dogu-starting-button-color-bg: var(--ces-dogu-starting-color, #00629E);
    --ces-dogu-starting-button-color-text: var(--ces-color-inverted-text, #FCFCFD);
    --ces-dogu-starting-button-color-hover: var(--ces-color-brand-strong, #00426B);
    --ces-dogu-starting-button-color-active: var(--ces-color-brand-stronger, #003250);

    --ces-dogu-starting-logo: url("../img/dogu-starting.svg");
    --ces-dogu-starting-logo-with: 20rem;
    --ces-dogu-starting-logo-height-mobile: 12rem;

    --ces-dogu-starting-docs-visibility: visible;

    color: var(--ces-dogu-starting-color);
}

body {
    margin: 0;
}

.dogu-starting {
    margin: 2rem;
    height: calc(100vh - 4rem);
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dogu-starting .logo {
    width: var(--ces-dogu-starting-logo-with);
    content: var(--ces-dogu-starting-logo);
}

.dogu-starting h1 {
    font-size: 8.5rem;
    font-weight: 400;
    line-height: 9rem;
    margin: 0;
}

.dogu-starting h2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
    margin: 0;
}

.dogu-starting .actions {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.dogu-starting .actions .docs-link{
    visibility: var(--ces-dogu-starting-docs-visibility);
}

.dogu-starting button {
    cursor: pointer;
    padding: .5rem .625rem;
    border: 0;
    border-radius: 2.5rem;
    background-color: var(--ces-dogu-starting-button-color-bg);
    color: var(--ces-dogu-starting-button-color-text);
    font-weight: 700;
    line-height: 1.5rem;
}

.dogu-starting button:hover {
    background-color: var(--ces-dogu-starting-button-color-hover);
}

.dogu-starting button:active {
    background-color: var(--ces-dogu-starting-button-color-active);
}

.dogu-starting button:focus-visible, a:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--ces-color-default-focus-inner), 0 0 0 4px var(--ces-color-default-focus-outer);
}

.dogu-starting button svg {
    margin-left: .375rem;
    vertical-align: text-bottom;
}

.dogu-starting a, .dogu-starting a:visited {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--ces-dogu-starting-color);
    color: var(--ces-dogu-starting-color);
    font-weight: 700;
}

.dogu-starting a:hover {
    text-decoration-style: solid;
}

@media (max-width: 767px) {
    .dogu-starting {
        flex-flow: column;
        justify-content: flex-start;
        text-align: center;
    }

    .dogu-starting .logo {
        width: unset;
        height: var(--ces-dogu-starting-logo-height-mobile);
    }

    .dogu-starting h1 {
        font-size: 4.25rem;
        line-height: 4.5rem;
    }

    .dogu-starting h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .dogu-starting .actions {
        flex-flow: column;
        align-items: center;
    }
}