.outer{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.inner{
  margin: auto;
  margin-top: 40vh;
  width: 100px;
  height:100px;
  display:block;
  background-color: blue
}
